:root {
    --cor-titulo: #3c9d3c;
    --font-titulo: 'Cinzel', sans-serif;
    --tamanho-titulo: 40px;

    --cor-texto: #131518;
    --font-texto: 'Robecha Daniera', sans-serif;
    --tamanho-texto: 30px;
}


#linhaFornecedor:hover{
    cursor: pointer;  
}

#linhaFornecedor:hover .colunaFornecedor{
    background-color: var(--cor-titulo);
    text-decoration: underline;
}

.colunaFornecedor{
    background-color: aliceblue;
    padding-left: 20px;
    padding-left: 20px;
}

#tbFornecedor{
    margin-left: auto;
    margin-right: auto;
    border: none;
    width: 100%;
}

#formFornecedor{
    border: none; 
    margin-left: auto; 
    margin-right: auto;
}

#divFornecedor{
    background-color: #131518;
}