
.motApaixNoivoTexto{
    text-align: right;
}

.corpoPergunta {
    display: inline-flex;
}

#contagemRegressiva{
    display: inline-flex;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box;
}

#dias, #horas, #minutos, #segundos{
    margin: 2px;
    border-color: #3c9d3c;
    border-style: solid;
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    font-family: var(--font-titulo);
    color: var(--cor-cinza-escuro-titulo);
}

#boxContRegressiva{
    background-color: #83f083;
    padding: 6px;
    width: 240px;
    border-radius: 6px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#principal{
    background-image: url(../imagens/background1.jpg);
    background-size: 1600px;
    height: 100vh;
}

#logo{
    margin-left: 680px;
}

.imgFolhas{
    margin-left: 34%;
    margin-right: 34%;
    width: 400px;
}

.fotoLocal{
    width: 500px;
}

#localidades{
    display: inline-flex;
}